<div class="container main">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
    <h2>Login to Account</h2>
    <div class="seperator"></div> 
    <%= form_for :session, url: "/login", method: 'post' do |f| %>
      <%= f.email_field :email, placeholder: "Email" %>
      <%= f.password_field :password, placeholder: "Password" %>
      <br/>
      <span class="alpha-btn"><%= f.submit "Login" %></span>
      <br/><br/>
    <% end %>
    <br/>
    <small>Already registered?</small>
    </div>
  </div>
</div>