<div class="container main">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h4>Update Article</h4>
      <div class="seperator"></div>
      <%= render "form_error", obj: @article %>
      <%= render "form" %>
    </div>
  </div>
</div>