<div class="container main">
  <h2>Featured Articles</h4>
  <div class="seperator"></div>
  <span class="alpha-btn" id="new"><%= link_to "Create", new_article_path %></span>
  <div class="row">
    <%= render "articles", obj: @articles %>
  </div>
  <div class="text-center"><%= will_paginate @articles %></div>
</div>