<!Doctype html>
<head>
  <style>
    h2,h4 {
      margin: 20px;
      font-family: 'Montserrat', sans-serif;
      text-align: center;
    }

    body {
      padding-top:0px;
      width:100%;
      height:100%;
      margin:0%;
      background: ;
    }

    .container {
      width: 100%;
      margin: 0;
      padding: 0;
    }

    .content {
      background-color: rgba(255, 255, 255, .93);
      border-radius: 15px;
      color: #252525;
      width: 450px;
      height: auto;
      margin: 130px auto;
      text-align: center;
      padding: 65px 30px;
    }

    .background {
      background: url("http://www.sactownmag.com/Blog/2015/New-time-lapse-video-shows-Sacramento-on-the-rise/Skyline.png") no-repeat;
      overflow: hidden;
      background-size: cover;
      width: 100%;
      height: 100vh;
    }
  </style>
</head>
<body>
  <div class="background">
    <div class="text-center center-block content"> 
      <h4>Welcome to About Page</h4>
      <p>Go to <%= link_to 'Home', root_path %> Page</p>
    </div>
  </div>
</body>
</html>