<!Doctype html>
<head>
  <Title>About</Title>
  <style>
    h2,h4 {
      margin: 20px;
      font-family: 'Montserrat', sans-serif;
      text-align: center;
    }

    body {
      padding-top:0px;
      width:100%;
      height:100%;
      margin:0%;
      background: ;
    }

    .container {
      width: 100%;
      margin: 0;
      padding: 0;
    }

    .header {
      margin: auto;
      padding-top: 0px;
      height:600px;
      width: 100%;
      background:#5fcf80;

    }

    .navbar {
      background-color: rgba(255, 255, 255, .90)
    }

    .navbar-toggle {
      float: left;
      margin-left: 15px
    }

    .navbar-default .navbar-nav>li>a {
      font-weight: bold;
      color: #252525;
    }

    .social {
      padding-top: 35px;
      color: #5fcf80;
    }

    .social li {
      display: inline;
      padding: 20px;
      
    }

    .portfolio {
      margin: 0;
      padding: 100px 20px;
      height:350px;
      width: 100%;
      background-color: #5fcf80;
    }

    #home {
      background-color: rgba(255, 255, 255, .93);
      border-radius: 15px;
      color: #252525;
      width: 450px;
      height: auto;
      margin-top: 200px;
      padding: 65px 30px;
    }

    .no-padding {
      padding-left: 0;
      padding-right: 0;
    }

    .about {
      margin: 0;
      padding: 150px 20px;
      height:550px;
      width: 100%;
      background-color: #5fcf80;
    }

    .content {
      max-width: 900px;
      margin: auto;
    }

    .background {
      background: url("http://www.sactownmag.com/Blog/2015/New-time-lapse-video-shows-Sacramento-on-the-rise/Skyline.png") no-repeat;
      overflow: hidden;
      background-size: cover;
      width: 100%;
      height: 100%;
    }

    .section {
        padding-top: 70px;
    }

    .section-box {
        padding: 40px 50px;
    }

    .section-title {
        font-size: 40px;
        font-weight: 300;
        line-height: 1.2;
        text-align: center;
    }


    .clearfix:before, .clearfix:after {
        content: " ";
        display: table;
    }

    .clearfix:after {
        clear: both;
    }

    .clearfix {
        *zoom: 1;
    }
      
    .grid:before, .grid:after {
        content: " ";
        display: table;
    }

    .grid:after {
        clear: both;
    }

    .grid {
        *zoom: 1;
    }

    .grid .grid-item,
    .grid .grid-sizer {
        width: 33.33%;
    }

    .grid .grid-sizer {
        height: 0;
        visibility: hidden;
    }

    .grid .grid-item {
        float: left;
        padding: 0 10px;
        margin-bottom: 20px;
    }

    .grid .grid-box {
        width: 100%;
        height: 0;
        padding-top: 95%;
        position: relative;
        overflow: hidden;
        background: rgba(0, 0, 0, 0.15);
    }

    .grid .size11 {
        width: 33.33%;
    }

    .grid .size11 .portfolio-title {
        font-size: 18px;
    }

    .grid .size22 {
        width: 66.66%;
    }

    .grid .size22 .portfolio-title {
        font-size: 24px;
    }

    .grid-more {
        margin-top: 20px;
        text-align: center;
    }

    .grid-more .btn {
        margin: 0;
        padding: 0;
        width: 60px;
        height: 60px;
        display: inline-block;
        line-height: 1;
    }

    .grid-more .btn .icon {
        font-size: 30px;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s;
    }

    .grid-more .btn:hover .icon {
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    .grid-more .ajax-loader {
        display: none;
        width: 72px;
        height: 24px;
        vertical-align: middle;
        background: url("img/ajax-loader.gif");
    }

    .filter {
        text-align: center;
        margin-bottom: 30px;
    }

    .filter button {
        border: 0;
        margin: 0 20px 0 0;
        padding: 0 12px;
        background: transparent;
        color: #000;
        font-size: 13px;
        font-weight: 600;
        font-family: "Open Sans", sans-serif;
        text-transform: uppercase;
    }

    .filter button:first-child {
        padding-left: 0;
    }

    .filter button:last-child {
        margin-right: 0;
        padding-right: 0;
    }

    .filter-inner {
        display: inline-block;
        position: relative;
    }

    .filter-bar {
        height: 5px;
        margin: 10px auto 0;
        background-color: #fff;
        position: relative;
    }

    .filter-bar, .filter-bar .filter-bar-line {
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        border-radius: 5px;
    }

    .filter-bar .filter-bar-line {
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        display: block;
        position: relative;
        -webkit-transition: all 1s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
        -moz-transition: all 1s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
        -ms-transition: all 1s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
        -o-transition: all 1s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
        transition: all 1s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    }

    .portfolio-figure {
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        position: absolute;
    }

    .portfolio-figure img {
        position: relative;
        display: block;
        width: 100%;
        opacity: 1;
        -webkit-transform: scale3d(1.02, 1.02, 1);
        -moz-transform: scale3d(1.02, 1.02, 1);
        -ms-transform: scale3d(1.02, 1.02, 1);
        -o-transform: scale3d(1.02, 1.02, 1);
        transform: scale3d(1.02, 1.02, 1);
        -webkit-transition: opacity 1s, transform 1s;
        -moz-transition: opacity 1s, transform 1s;
        -ms-transition: opacity 1s, transform 1s;
        -o-transition: opacity 1s, transform 1s;
        transition: opacity 1s, transform 1s;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        -o-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    .portfolio-figure .portfolio-caption {
        top: -2px;
        left: -2px;
        right: -2px;
        bottom: -2px;
        opacity: 0;
        position: absolute;
        background-color: rgba(32, 39, 52, 0.8);
        -webkit-transition: opacity 0.35s linear 0s;
        -moz-transition: opacity 0.35s linear 0s;
        -ms-transition: opacity 0.35s linear 0s;
        -o-transition: opacity 0.35s linear 0s;
        transition: opacity 0.35s linear 0s;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        -o-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    .portfolio-figure .portfolio-caption-inner {
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 5%;
        position: absolute;
        -webkit-transition: transform 0.35s;
        -moz-transition: transform 0.35s;
        -ms-transition: transform 0.35s;
        -o-transition: transform 0.35s;
        transition: transform 0.35s;
        -webkit-transform: translate3d(0, 100%, 0);
        -moz-transform: translate3d(0, 100%, 0);
        -ms-transform: translate3d(0, 100%, 0);
        -o-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        -o-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    .portfolio-figure .portfolio-title,
    .portfolio-figure .portfolio-cat {
        opacity: 0;
        -webkit-transition: opacity 0.35s;
        -moz-transition: opacity 0.35s;
        -ms-transition: opacity 0.35s;
        -o-transition: opacity 0.35s;
        transition: opacity 0.35s;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        -o-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    .portfolio-figure .portfolio-title {
        color: #fff;
        font-weight: 700;
        line-height: 1.3;
        margin-bottom: 13px;
    }

    .portfolio-figure .portfolio-cat {
        color: #a7a9ab;
        font-size: 13px;
        line-height: 1.1;
        text-transform: uppercase;
    }

    .portfolio-figure .btn-group a {
        width: 50px;
        height: 50px;
        margin-right: 5px;
        text-align: center;
        display: inline-block;
        background: transparent;
        border: 1px solid #767475;
        border: 1px solid rgba(255, 255, 255, 0.2);
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
        border-radius: 3px;
        -webkit-transition: transform 0.35s;
        -moz-transition: transform 0.35s;
        -ms-transition: transform 0.35s;
        -o-transition: transform 0.35s;
        transition: transform 0.35s;
        -webkit-transform: translate3d(0, 200%, 0);
        -moz-transform: translate3d(0, 200%, 0);
        -ms-transform: translate3d(0, 200%, 0);
        -o-transform: translate3d(0, 200%, 0);
        transform: translate3d(0, 200%, 0);
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        -o-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    .portfolio-figure .btn-group a:hover {
        text-decoration: none;
    }

    .portfolio-figure .btn-group .icon {
        display: block;
        line-height: 50px;
        font-size: 25px;
    }

    .portfolio-figure:hover img {
        opacity: 0.85;
        -webkit-transform: scale3d(1.1, 1.1, 1);
        -moz-transform: scale3d(1.1, 1.1, 1);
        -ms-transform: scale3d(1.1, 1.1, 1);
        -o-transform: scale3d(1.1, 1.1, 1);
        transform: scale3d(1.1, 1.1, 1);
    }

    .portfolio-figure:hover .portfolio-caption,
    .portfolio-figure:hover .portfolio-title,
    .portfolio-figure:hover .portfolio-cat {
        opacity: 1;
        
    }

    .portfolio-figure:hover .portfolio-caption-inner {
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    .portfolio-figure:hover .btn-group a {
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    .portfolio-figure:hover .btn-group .btn-zoom {
        -webkit-transition-delay: 0.3s;
        -moz-transition-delay: 0.3s;
        -ms-transition-delay: 0.3s;
        -o-transition-delay: 0.3s;
        transition-delay: 0.3s;
    }

    .portfolio-figure:hover .btn-group .btn-link {
        -webkit-transition-delay: 0.2s;
        -moz-transition-delay: 0.2s;
        -ms-transition-delay: 0.2s;
        -o-transition-delay: 0.2s;
        transition-delay: 0.2s;
    }

    @media (max-width: 767px) {
        .filter-bar {
            display: none;
        }

        .filter-inner {
            display: block;
        }

        .filter button {
            width: 100%;
            margin: 0;
            padding: 10px 0;
            display: block;
            border-bottom: 1px solid #d7dbde;
            position: relative;
        }

        .filter .active:after {
            content: '';
            left: 0;
            bottom: -1px;
            height: 3px;
            width: 100%;
            position: absolute;
        }

        .grid .grid-item,
        .grid .grid-sizer {
            width: 50%;
        }

        .grid .size11,
        .grid .size22 {
            width: 50%;
        }

        .grid .size11 .portfolio-title,
        .grid .size22 .portfolio-title {
            font-size: 18px;
        }
    }

    @media (max-width: 480px) {
        .grid .grid-item,
        .grid .grid-sizer {
            width: 100%;
        }

        .grid .size11,
        .grid .size22 {
            width: 100%;
        }

        .grid .size11 .portfolio-title,
        .grid .size22 .portfolio-title {
            font-size: 22px;
        }
    }
    
    .number {
      background-color: #5fcf80;
      color: #fff;
      height: 30px;
      width: 30px;
      display: inline-block;
      font-size: 0.8em;
      margin-right: 4px;
      line-height: 30px;
      text-align: center;
      text-shadow: 0 1px 0 rgba(255,255,255,0.2);
      border-radius: 100%;
    }

    @media screen and (min-width: 480px) {

      #footer-links {
        text-align: center;
        color: #252525;
        height: 140px;
        background: #5fcf80;
        padding-top: 50px;
      }

      #footer-links li {
        display: inline;
        padding: 0 40px;
        border-right: 1px solid white;
      }

      #footer-links li:nth-child(7) {
        border-right: none;
      }
      
      #footer-links p {
        text-align: center;
      }
      
      #contact-form {
        float: left;
        width: 50%;
      }
      
      #social-box {
        width: 50%;
        float: left;
      }
      
      #social-box h1 {
        padding: 20px;
        font-size: 60px;
        font-weight: bold;
      }
      
      #social-contact {
        padding-left: 150px;
        list-style: none;
        font-size: 18px;
        font-weight: bold;
        
      }
      
      #social-contact li {
        margin: 40px;
      }
      
      a {
        text-decoration: none;
        color: inherit;
      
      }
      
      .fa-4x {
        color: #5fcf80;
      }
    }
  </style>
</head>
<body>
</body>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!---    Collapsable Navbar     --->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'About', about_path %></li>
      </ul>
    </div>
  </div>
</nav>

<!-- HEADER -->

<header>
 <div id="b" class="container">
  <div class="header"> 
   <div class="background">
 <div class="text-center center-block" id="home"> 
  <h2>Ibidapo Rasheed</h2>
    <h4>Software Developer</h4>
    <p>You're on About Page</p>
   <ul class="social">
     <li><a href="https://twitter.com/aaroncuddeback" target="_blank"><i class="fa fa-3x fa-twitter"></i></a></li>
     <li><a href="https://github.com/gymrat" target="_blank"><i class="fa fa-3x fa-github"></i></a></li>
     <li><a href="https://facebook.com/gymratpacks" target="_blank"><i class="fa fa-3x fa-facebook"></i></a></li>
   </ul>
     </div>
    </div>
   </div>
  </div>
</header>

<!--- BIO --->

<body>
  
<div class="about" id="bio">
 <div class="content">
 <div class="row">
   <div class="col-sm-4"> 
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/548344/heroratman.png" class="img-circle" alt="Aaron Cuddeback Portrait" width="225" height="225" id="bioimage"></div>
       <div class="col-sm-8">
     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam viverra pharetra tempus. Nam placerat malesuada pellentesque. Morbi in elit sed quam rhoncus laoreet. In quam neque, euismod egestas viverra at, faucibus pulvinar magna. Vestibulum eleifend facilisis magna, non pulvinar sapien aliquam pulvinar. Pellentesque nec orci convallis, mollis augue at, elementum orci. Aenean neque sem, viverra vel lectus ac, volutpat gravida massa. Donec id justo venenatis, luctus ex a, imperdiet libero. Nullam varius placerat tellus, eu scelerisque turpis consectetur nec. Curabitur dapibus, tortor ac venenatis porttitor, leo neque vehicula eros, ac ornare tellus tellus ut nulla. Sed sed justo commodo sem scelerisque pulvinar. Sed lacinia laoreet enim, ut fermentum leo ultrices a. Sed semper elit a ligula vestibulum, quis accumsan lorem efficitur.</p></div>
  </div>
 </div>
  </div>
  <!--- Footer --->
  <footer id="footer-links">
    <ul>
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'About', about_path %></li>
    </ul>
    <p>Copyright  &#169 <a href="https://twitter.com"target="_blank">Ibidapo Rasheed</a></p>
  </footer>