<div class="banner">
  <div class="row">
    <div class="banner-item col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4">
      <div id="sign-up"></div>
      <div id="login"></div>
      <div id="intro" class="show">
        <h3>To become a Great Writer, you must do two things above all: Read a lot and Write a lot</h3>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <%= render "articles/articles", obj: @articles[-4, 4] %>
  </div>
</div>