.bio-img {
  position: relative;
  background: asset-url('user.svg') no-repeat center center;
  height: 150px;
  width: 150px;
  margin: 3rem auto 1rem;
  border-radius: 50%;
  overflow: hidden;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.bio-img-sm {
  height: 100px;
  width: 100px;
  margin: 1rem auto;
}

.user-info {
  color: #777;
  margin: 0.25rem auto !important;
}

.user-action {
  margin: 1rem auto !important;
}

#avatar-form {
  font-size: 1.2rem;
  text-align: center;

  input {
    margin: 1rem auto;
  }

  input[type="file"] {
    padding: 0.5rem;
    max-width: 200px;
  }

  input[type="submit"] {
    display: none;
    padding: 0.5rem 1rem;
  }
}