<div class="container main">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h2>Create Category</h2>
      <div class="seperator"></div>
      <%= render "articles/form_error", obj: @category %>
      <%= form_for @category do |f| %>
        <%= f.text_field :name, placeholder: "Category name", autofocus: true %>
        <span class="alpha-btn"><%= f.submit "Create" %></span>
        <br/><br/>
      <% end %>
    </div>
  </div>
</div>