<div class="container main">
  <h2><%= @category.name %></h2>
  <div class="seperator"></div> 
  <% if logged_in? && current_user.admin? %>
    <span class="alpha-btn" id="new"><%= link_to "Edit", edit_category_path(@category) %></span>
  <% end %>
  <div class="row">
    <%= render "articles/articles", obj: @category_articles %>
  </div>
  <div class="text-center"><%= will_paginate @category_articles %></div>
</div>