<div class="container">
  <div class="col-12 col-md-6 footer-left">
    <%= link_to "Home", root_path %> | <%= link_to "Blog", articles_path %>
    <p>Alpha Blog &copy; 2019</p>
  </div>
  <div class="col-12 col-md-6 footer-right">
    <a href="#"><i class="fab fa-facebook-f"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin-in"></i></a>
  </div>
</div>